  @keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.canvas {
  display:none;
}

.spinner {
  font-size: 140px;
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  margin: 15% auto;
  display: block;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 15px solid #33c1b6;
  border-top-color: #09b3bf;
  animation: spinner 1s linear infinite;
}

.spinner:after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333;
}
